@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  letter-spacing: -0.28px;
}

.mendatory_sign:after {
  content: ' *';
  color: red;
  font-weight: bold;
}

.custom-label {
  font-weight: bold;
}

/* formcss */
h1 {
  font-weight: 800;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.28px;
  color: #303030;
}
